{% load static %}
<footer class="footer d-flex flex-column justify-content-end pb-4 col-8 m-auto mt-5">
    <div class="row">
        <div class="col-6 text-center">
            Контакты:
            <br>
            📞 Телефон: <a href="tel:88005553535" class="text-decoration-none telephone">8-800-555-35-35</a>
            <br>
            📧 Email: <a href="mail:pet_friends@mail.ru" class="text-decoration-none">second_life42@mail.ru</a>
            <br>
            🏠 Адрес: г.Новокузнецк ул.Доз д.9 к.1
        </div>
        <div class="col-6 text-center">
            Следите за нами в социальных сетях:
            <br>
            <img class="footer-logo" src="{% static "img/instagramm-logo.png" %}" alt="instagramm-logo">
            second_life42
            <br>
            <img class="footer-logo" src="{% static "img/telegramm-logo.png" %}" alt="instagramm-logo">
            second_life42
        </div>
        <div class="row w-100 d-flex justify-content-center mt-3">
            Права:
            © 2025г. Pet Friends. Все права защищены.</div>
    </div>
</footer>